#root {
  /* background: url("./assets/david-frasheski-mountain-side-vista.jpg") center */
  /* center; */
  background-size: cover; /* Ensures the image covers the entire element */
  max-width: 1400px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* border: 1px solid white; */
}
